
<extend name="Common:base" />
      
       <block name="main">
      
            
            <div class="row-fluid">
               <div class="span12">
                   
                   <div id="theme-change" class="hidden-phone">
                       <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text">Theme Color:</span>
                            <span class="colors">
                                <span class="color-default" data-style="default"></span>
                                <span class="color-green" data-style="green"></span>
                                <span class="color-gray" data-style="gray"></span>
                                <span class="color-purple" data-style="purple"></span>
                                <span class="color-red" data-style="red"></span>
                            </span>
                        </span>
                   </div>
                   
                  
                   <h3 class="page-title">
                    资讯添加
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="{:U('info_list')}">资讯列表</a>
                          
                       </li>
                       
                   </ul>
                   
               </div>
            </div>
            
            
            <div class="row-fluid">
                <div class="span12">
                    
                    <div class="widget green">
                        <div class="widget-title">
                            <h4><i class="icon-reorder"></i> 发布信息 </h4>
                            <span class="tools">
                            <a href="javascript:;" class="icon-chevron-down"></a>
                            <a href="javascript:;" class="icon-remove"></a>
                            </span>
                        </div>
                        <div class="widget-body">
                            
                            <form action="{:U('information/info_add')}" method="post" class="form-horizontal" enctype="multipart/form-data">
                            <div class="control-group">
                                <label class="control-label">标题</label>
                                <div class="controls">
                                    <input type="text" class="span6 " name="title"/>
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">概要</label>
                                <div class="controls">
                                    <input class="span6 " type="text" name="summary" />
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">图片</label>
                                <div class="controls">
									<img id="img" src="__ROOT__/{$draft['thumb_img']}" width="80px">
									<input type="file" name="image" onchange="fileChange(this)">
                                   
                                    <span class="help-inline"></span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">区域</label>
                                <div class="controls">
                                    <input type="text" class="span6  tooltips" data-trigger="hover" name="area" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">作者</label>
                                <div class="controls">
                                    <input type="text" class="span6  popovers" data-trigger="hover" name="author"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">时间</label>
                                <div class="controls">
                                   <input type="text" class="span6 " style="margin: 0 auto;" name="time"  onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd '})"/>
                                </div>
                            </div>
                            
                            <div class="form-actions">
                                <input type="submit" class="btn btn-success" value="发布信息">
                              
                            </div>
                            </form>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
           
    <script type="text/javascript" src="__ROOT__/static/My97DatePicker/WdatePicker.js"> </script> 	
     <script src="__ROOT__/static/js/jQuery-1.12.3.js"> </script>
   <script>
	function fileChange(othis){
    //创建图片路径
		var url = window.URL.createObjectURL(othis.files[0]);
		//查找当前节点的下一个兄弟节点
		//var img = othis.nextSibling;
		//设置属性
		$('#img').attr('src',url);
	
	}
	</script>
  </block>












