<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文本翻译</title>
</head>
<body>
<form action="{:U('getReturn')}" method="post" autocomplete="on">
    <input type="text" name="text" value="请输入待翻译内容"/>
    <input type="submit" name="submit" value="英文"/>
    <input type="submit" name="submit" value="日文"/>
    <input type="submit" name="submit" value="粤语"/>
</form>
<js href='__ROOT__/static/js/jquery-1.8.3.min.js' />
<js href='__ROOT__/static/js/common.js' />
</body>
</html>
