* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: '微软雅黑';
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #606060;
}

img {
  display: block;
}

html, body {
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: auto;
  font: 14px "Microsoft Yahei";
}

.header {
  width: 100%;
  height: 0.71rem;
  line-height: 0.71rem;
  position: relative;
  display: -webkit-box;
  display: -ms-box;
  display: -moz-box;
  background: url(../img/nav-bg.png);
}

.header2 {
  height: 0.71rem;
  width: 100%;
  display: none;
}

.logo1 {
  width: 1.57rem;
  height: 0.41rem;
  position: absolute;
  left: 0.3rem;
  top: 0.14rem;
}

.logo2 {
  width: 1.25rem;
  position: absolute;
  right: 0.32rem;
  top: 0.27rem;
}

.city {
  width: 1.01rem;
  margin-left: 2.1rem;
  font-size: 14px;
  height: 0.46rem;
  margin-top: 0.15rem;
  line-height: 0.46rem;
  color: #606060;
  text-indent: 0.15rem;
  cursor: pointer;
}

.city img {
  display: inline-block;
  margin-left: 0.01rem;
  margin-bottom: 0.03rem;
}

.citylist {
  position: absolute;
  left: 2.1rem;
  top: 0.62rem;
  width: 7.78rem;
  height: 3.98rem;
  font-size: 12px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
}

.citylist ul:nth-of-type(1) {
  width: 1rem;
  height: 100%;
  float: left;
}

.citylist ul:nth-of-type(1) li {
  width: 100%;
  height: 0.44rem;
  line-height: 0.44rem;
  text-indent: 0.16rem;
  color: #666;
  border-bottom: 1px dashed #e5e5e5;
  background: #f2f2f2;
}

.citylist ul:nth-of-type(2) {
  width: 6.74rem;
  height: 100%;
  border-top: 1px solid #ccc;
  float: left;
}

.citylist ul:nth-of-type(2) li {
  width: 100%;
  height: 0.44rem;
  line-height: 0.44rem;
  color: #666;
  border-bottom: 1px dashed #e5e5e5;
}

.citylist ul:nth-of-type(2) li span {
  display: inline-block;
  width: 0.84rem;
  text-align: center;
}

.citylist ul:nth-of-type(1) .nowCity {
  color: #f00;
}

.nowCity {
  color: #f00;
}

.nav {
  width: 7.35rem;
  height: 100%;
  margin-left: 1.19rem;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
}

.nav li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex-grow: 1;
 
  

}
.nav li a{
   text-align: center;
  color: #666;
  cursor: pointer;
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%

}
.nav li a:hover {
  color: #f00;
}

.search {
  width: 0.2rem;
  height: 0.2rem;
  margin-top: 0.28rem;
  cursor: pointer;
}

.search2 {
  width: 3rem;
  height: 0.42rem;
  position: absolute;
  right: 2.1rem;
  top: 0.16rem;
  background: #fff;
  border: 1px solid #ccc;
  display: none;
}

.search2 input {
  width: 2.49rem;
  height: 0.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  outline: none;
  text-indent: 0.1rem;
}

.search2 button {
  width: 0.49rem;
  height: 0.34rem;
  position: absolute;
  right: 0;
  top: 0.02rem;
  display: block;
  font-size: 12px;
  border: 0;
  background: #fff;
  border-left: 1px solid #ccc;
  outline: none;
  color: #999;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: auto;
  background: #191919;
  padding-top: 0.76rem;
}

.more {
  width: 12.8rem;
  margin: auto;
  height: auto;
  display: -webkit-box;
  padding-bottom: 0.88rem;
  font-family: '微软雅黑';
}

.more-one {
  width: 4.59rem;
  height: 1.7rem;
  padding-top: 0.15rem;
  padding-bottom: 0.29rem;
  border-right: 1px dashed #262626;
}

.more-one dl {
  width: 100%;
  display: -webkit-box;
}

.more-one dl dt {
  width: 1.11rem;
}

.more-one dl dt img {
  width: 100%;
}

.more-one dl dd {
  -webkit-box-flex: 1;
  margin-left: 0.3rem;
}

.more-one dl dd p {
  width: 100%;
}

.more-two {
  width: 4.95rem;
  height: 1.7rem;
  border-right: 1px dashed #262626;
  padding-top: 0.21rem;
  padding-bottom: 0.13rem;
  display: -webkit-box;
}

.more-two ul {
  -webkit-box-flex: 1;
}

.more-two ul li {
  color: #a6a6a6;
  font-size: 0.14rem;
  line-height: 0.35rem;
}

.more-two ul li a:hover {
  color: #c4baba;
}

.more-three {
  width: 2.19rem;
  margin-left: 1.07rem;
  padding-top: 0.21rem;
}

.more-three p {
  color: #797979;
  font-size: 0.2rem;
  margin-bottom: 0.26rem;
}

.more-three img {
  display: inline;
  cursor: pointer;
  width: 0.81rem;
}

.group {
  width: 76.2%;
  margin: auto;
  font-size: 12px;
  color: #7e7e7e;
  padding-bottom: 0.63rem;
}

.copyrighted {
  width: 100%;
  border-top: 1px solid #303030;
}

.copyrighted p {
  width: 100%;
  text-align: center;
  color: #7e7e7e;
  font-size: 12px;
}

.bor_bot_no {
  border: 1px solid #ccc;
  border-bottom: none;
}

.tab-bor-top {
  position: absolute;
  width: 0.16rem;
  top: 0.64rem;
  left: 5.9rem;
  z-index: 999;
  display: none;
}

.pin-car {
  width: 14.74rem;
  height: 5.74rem;
  border-top: 1px solid #ccc;
  position: absolute;
  left: 1.07rem;
  top: 0.71rem;
  z-index: 999;
  background: #fff;
  font-size: 12px;
  color: #666;
  display: none;
}

.pin-car button {
  width: 1.04rem;
  height: 0.31rem;
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
  line-height: 0.31rem;
}

.bg {
  background: #f2f2f2;
}

.aside {
  width: auto;
  height: 1.6rem;
  position: fixed;
  right: 0;
  top: 2.95rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  z-index: 1000;
}

.aside p {
  height: 0.54rem;
  border-bottom: 1px solid #fff;
  line-height: 0.53rem;
  color: #fff;
  text-indent: 0.30rem;
  width: 0.53rem;
  font-size: 14px;
  display: -webkit-box;
  cursor: pointer;
  position: relative;
  z-index: 99;
}

.aside span {
  display: inline-block;
  width: 1.69rem;
  height: 0.54rem;
  line-height: 0.54rem;
  text-indent: 0.3rem;
  color: #fff;
  background: rgba(20, 2, 2, 0.9);
  position: absolute;
  font-size: 12px;
  left: 50px;
}

.zhe {
  background: rgba(20, 2, 2, 0.9) url(../img/here.png) no-repeat center;
  background-size: 0.19rem;
}

.fen {
  background: rgba(20, 2, 2, 0.9) url(../img/fen.png) no-repeat center;
  background-size: 0.26rem;
}

.top {
  background: rgba(20, 2, 2, 0.9) url(../img/top.png) no-repeat center;
  background-size: 0.27rem;
}

.foot-link {
  margin: 0 28px 0 0;
}