<include file="Common:header"/>
      
        
      <div id="main-content">
         
         <div class="container-fluid">
               
            <div class="row-fluid">
               <div class="span12">
                   
                   <div id="theme-change" class="hidden-phone">
                       <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text">theme color:</span>
                            <span class="colors">
                                <span class="color-default" data-style="default"></span>
                                <span class="color-green" data-style="green"></span>
                                <span class="color-gray" data-style="gray"></span>
                                <span class="color-purple" data-style="purple"></span>
                                <span class="color-red" data-style="red"></span>
                            </span>
                        </span>
                   </div>
                   
                  
                   <h3 class="page-title">
                     tabs & accordion
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="#">home</a>
                           <span class="divider">/</span>
                       </li>
                       <li>
                           <a href="#">ui elements</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           tabs & accordion
                       </li>
                       <li class="pull-right search-wrap">
                           <form action="http://www.js-css.cn/divcss/admin/metro/search_result.html" class="hidden-phone">
                               <div class="input-append search-input-area">
                                   <input class="" id="appendedinputbutton" type="text">
                                   <button class="btn" type="button"><i class="icon-search"></i> </button>
                               </div>
                           </form>
                       </li>
                   </ul>
                   
               </div>
            </div>
            
            

            <div class="row-fluid">
                <div class="span12">
                        
                        <div class="widget orange">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i> inline tab</h4>
                           <span class="tools">
                           <a href="javascript:;" class="icon-chevron-down"></a>
                           <a href="javascript:;" class="icon-remove"></a>
                           </span>
                            </div>
                            <div class="widget-body">
                                <div class="bs-docs-example">
                                    <ul class="nav nav-tabs" id="mytab">
                                        <li class="active"><a data-toggle="tab" href="#home">home</a></li>
                                        <li><a data-toggle="tab" href="#profile">profile</a></li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">dropdown <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a data-toggle="tab" href="#dropdown1">@fat</a></li>
                                                <li><a data-toggle="tab" href="#dropdown2">@mdo</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="mytabcontent">
                                        <div id="home" class="tab-pane fade in active">
                                            <p>raw denim you probably haven't heard of them jean shorts austin. nesciunt tofu stumptown aliqua, retro synth master cleanse. mustache cliche tempor, williamsburg carles vegan helvetica. reprehenderit butcher retro keffiyeh dreamcatcher synth. cosby sweater eu banh mi, qui irure terry richardson ex squid. aliquip placeat salvia cillum iphone. seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                            <p>it is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. the point of using lorem ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'content here, content here', making it look like readable english. many desktop publishing packages and web page editors now use lorem ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                        </div>
                                        <div id="profile" class="tab-pane fade">
                                            <p>
                                                it is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. the point of using lorem ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'content here, content here', making it look like readable english. many desktop publishing packages and web page editors now use lorem ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                            </p>
                                            <p>food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. exercitation +1 labore velit, blog sartorial pbr leggings next level wes anderson artisan four loko farm-to-table craft beer twee. qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum pbr. homo nostrud organic, assumenda labore aesthetic magna delectus mollit. keytar helvetica vhs salvia yr, vero magna velit sapiente labore stumptown. vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut diy ethical culpa terry richardson biodiesel. art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                                        </div>
                                        <div id="dropdown1" class="tab-pane fade">
                                            <p>etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. diy synth pbr banksy irony. leggings gentrify squid 8-bit cred pitchfork. williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. pitchfork sustainable tofu synth chambray yr.</p>
                                            <p>it is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. the point of using lorem ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'content here, content here', making it look like readable english. many desktop publishing packages and web page editors now use lorem ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                        </div>
                                        <div id="dropdown2" class="tab-pane fade">
                                            <p>trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. fanny pack portland seitan diy, art party locavore wolf cliche high life echo park austin. cred vinyl keffiyeh diy salvia pbr, banh mi before they sold out farm-to-table vhs viral locavore cosby sweater. lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                                            <p>it is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. the point of using lorem ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'content here, content here', making it look like readable english. many desktop publishing packages and web page editors now use lorem ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    
                    <div class="widget green">
                        <div class="widget-title">
                            <h4><i class="icon-reorder"></i> inline tabs</h4>
                           <span class="tools">
                           <a href="javascript:;" class="icon-chevron-down"></a>
                           <a href="javascript:;" class="icon-remove"></a>
                           </span>
                        </div>
                        <div class="widget-body">
                            <div class="row-fluid">
                                <div class="span6">
                                    
                                    <div class="tabbable custom-tab">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab_1_1" data-toggle="tab">section 1</a></li>
                                            <li><a href="#tab_1_2" data-toggle="tab">section 2</a></li>
                                            <li><a href="#tab_1_3" data-toggle="tab">section 3</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_1_1">
                                                <p>i'm in section 1.</p>
                                                <p>
                                                    phasellus fringilla suscipit risus nec eleifend. pellentesque eu quam sem, ac malesuada leo. sed ut quam at magna porttitor hendrerit.
                                                    maecenas quis erat fringilla augue feugiat vulputate a eu sem.vivamus ut diam at turpis varius tempor. aliquam dictum sagittis erat,
                                                    vehicula adipiscing diam condimentum id.
                                                </p>
                                            </div>
                                            <div class="tab-pane" id="tab_1_2">
                                                <p>howdy, i'm in section 2.</p>
                                                <p>
                                                    contrary to popular belief, lorem ipsum is not simply random text. it has roots in a piece of classical latin literature from 45 bc, making it over 2000 years old. richard mcclintock, a latin professor at hampden-sydney college in virginia, looked up one of the more obscure latin words, consectetur,
                                                </p>
                                            </div>
                                            <div class="tab-pane" id="tab_1_3">
                                                <p>what up girl, this is section 3.</p>
                                                <p>
                                                    there are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. if you are going to use a passage of lorem ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="space10 visible-phone"></div>
                                <div class="span6">
                                    
                                    <div class="tabbable custom-tab tabs-below">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_2_1">
                                                <p>i'm in section 1.</p>
                                                <p>
                                                    phasellus fringilla suscipit risus nec eleifend. pellentesque eu quam sem, ac malesuada leo. sed ut quam at magna porttitor hendrerit.
                                                    maecenas quis erat fringilla augue feugiat vulputate a eu sem.vivamus ut diam at turpis varius tempor. aliquam dictum sagittis erat,
                                                    vehicula adipiscing diam condimentum id.
                                                </p>
                                            </div>
                                            <div class="tab-pane" id="tab_2_2">
                                                <p>howdy, i'm in section 2.</p>
                                                <p>
                                                    contrary to popular belief, lorem ipsum is not simply random text. it has roots in a piece of classical latin literature from 45 bc, making it over 2000 years old. richard mcclintock, a latin professor at hampden-sydney college in virginia, looked up one of the more obscure latin words, consectetur,
                                                </p>
                                            </div>
                                            <div class="tab-pane" id="tab_2_3">
                                                <p>what up girl, this is section 3.</p>
                                                <p>
                                                    there are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. if you are going to use a passage of lorem ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                                </p>
                                            </div>
                                        </div>
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab_2_1" data-toggle="tab">section 1</a></li>
                                            <li><a href="#tab_2_2" data-toggle="tab">section 2</a></li>
                                            <li><a href="#tab_2_3" data-toggle="tab">section 3</a></li>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="spance20"></div>
                            <div class="row-fluid">
                                <div class="span6">
                                    
                                    <div class="tabbable custom-tab tabs-left">
                                        
                                        <ul class="nav nav-tabs tabs-left">
                                            <li class="active"><a href="#tab_3_1" data-toggle="tab">section 1</a></li>
                                            <li><a href="#tab_3_2" data-toggle="tab">section 2</a></li>
                                            <li><a href="#tab_3_3" data-toggle="tab">section 3</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_3_1">
                                                <p>i'm in section 1.</p>
                                                <p>
                                                    phasellus fringilla suscipit risus nec eleifend. pellentesque eu quam sem, ac malesuada leo. sed ut quam at magna porttitor hendrerit.
                                                    maecenas quis erat fringilla augue feugiat vulputate a eu sem.vivamus ut diam at turpis varius tempor. aliquam dictum sagittis erat,
                                                    vehicula adipiscing diam condimentum id.
                                                </p>
                                            </div>
                                            <div class="tab-pane" id="tab_3_2">
                                                <p>howdy, i'm in section 2.</p>
                                                <p>
                                                    contrary to popular belief, lorem ipsum is not simply random text. it has roots in a piece of classical latin literature from 45 bc, making it over 2000 years old. richard mcclintock, a latin professor at hampden-sydney college in virginia, looked up one of the more obscure latin words, consectetur,
                                                </p>
                                            </div>
                                            <div class="tab-pane" id="tab_3_3">
                                                <p>what up girl, this is section 3.</p>
                                                <p>
                                                    there are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. if you are going to use a passage of lorem ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="space10 visible-phone"></div>
                                <div class="span6">
                                    
                                    <div class="tabbable custom-tab tabs-right">
                                        
                                        <ul class="nav nav-tabs tabs-right">
                                            <li class="active"><a href="#tab_4_1" data-toggle="tab">section 1</a></li>
                                            <li><a href="#tab_4_2" data-toggle="tab">section 2</a></li>
                                            <li><a href="#tab_4_3" data-toggle="tab">section 3</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_4_1">
                                                <p>i'm in section 1.</p>
                                                <p>
                                                    phasellus fringilla suscipit risus nec eleifend. pellentesque eu quam sem, ac malesuada leo. sed ut quam at magna porttitor hendrerit.
                                                    maecenas quis erat fringilla augue feugiat vulputate a eu sem.vivamus ut diam at turpis varius tempor. aliquam dictum sagittis erat,
                                                    vehicula adipiscing diam condimentum id.
                                                </p>
                                            </div>
                                            <div class="tab-pane" id="tab_4_2">
                                                <p>howdy, i'm in section 2.</p>
                                                <p>
                                                    contrary to popular belief, lorem ipsum is not simply random text. it has roots in a piece of classical latin literature from 45 bc, making it over 2000 years old. richard mcclintock, a latin professor at hampden-sydney college in virginia, looked up one of the more obscure latin words, consectetur,
                                                </p>
                                            </div>
                                            <div class="tab-pane" id="tab_4_3">
                                                <p>what up girl, this is section 3.</p>
                                                <p>
                                                    there are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. if you are going to use a passage of lorem ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    
                    <div class="widget widget-tabs purple">
                        <div class="widget-title">
                            <h4><i class="icon-reorder"></i> widget tab</h4>
                        </div>
                        <div class="widget-body">
                            <div class="tabbable ">
                                <ul class="nav nav-tabs">
                                    <li><a href="#widget_tab3" data-toggle="tab">tab 3</a></li>
                                    <li><a href="#widget_tab2" data-toggle="tab">tab 2</a></li>
                                    <li class="active"><a href="#widget_tab1" data-toggle="tab">tab 1</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="widget_tab1">
                                        <p>
                                            it is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. the point of using lorem ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'content here, content here', making it look like readable english. many desktop publishing packages and web page editors now use lorem ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                        </p>
                                        <p>
                                            the standard chunk of lorem ipsum used since the 1500s is reproduced below for those interested. sections 1.10.32 and 1.10.33 from "de finibus bonorum et malorum" by cicero are also reproduced in their exact original form, accompanied by english versions from the 1914 translation by h. rackham.
                                        </p>
                                    </div>
                                    <div class="tab-pane" id="widget_tab2">
                                        <p>
                                            the standard chunk of lorem ipsum used since the 1500s is reproduced below for those interested. sections 1.10.32 and 1.10.33 from "de finibus bonorum et malorum" by cicero are also reproduced in their exact original form, accompanied by english versions from the 1914 translation by h. rackham.
                                        </p>
                                        <p>
                                            there are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. if you are going to use a passage of lorem ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. all the lorem ipsum generators on the internet tend to repeat predefined chunks as necessary, making this the first true generator on the internet. it uses a dictionary of over 200 latin words, combined with a handful of model sentence structures, to generate lorem ipsum which looks reasonable. the generated lorem ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                        </p>

                                    </div>
                                    <div class="tab-pane" id="widget_tab3">
                                        <p>
                                            there are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. if you are going to use a passage of lorem ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. all the lorem ipsum generators on the internet tend to repeat predefined chunks as necessary, making this the first true generator on the internet. it uses a dictionary of over 200 latin words, combined with a handful of model sentence structures, to generate lorem ipsum which looks reasonable. the generated lorem ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                        </p>
                                        <p>
                                            the standard chunk of lorem ipsum used since the 1500s is reproduced below for those interested. sections 1.10.32 and 1.10.33 from "de finibus bonorum et malorum" by cicero are also reproduced in their exact original form, accompanied by english versions from the 1914 translation by h. rackham.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="span6">
                    
                    <div class="widget red">
                        <div class="widget-title">
                            <h4><i class="icon-reorder"></i> accordion</h4>
                            <span class="tools">
                           <a class="icon-chevron-down" href="javascript:;"></a>
                           <a class="icon-remove" href="javascript:;"></a>
                           </span>
                        </div>
                        <div class="widget-body">
                            <div class="accordion" id="accordion1">
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1">
                                            collapsible group item #1
                                        </a>
                                    </div>
                                    <div id="collapse_1" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                            anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. food truck quinoa nesciunt laborum eiusmod. it is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2">
                                            collapsible group item #2
                                        </a>
                                    </div>
                                    <div id="collapse_2" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. food truck quinoa nesciunt laborum eiusmod. brunch 3 wolf moon tempor.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3">
                                            collapsible group item #3
                                        </a>
                                    </div>
                                    <div id="collapse_3" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. it is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. food truck quinoa nesciunt laborum eiusmod. brunch 3 wolf moon tempor.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>

                     
         </div>
         
      </div>
        
   </div>
   

  
  <div id="footer">
      2013 &copy; metro lab dashboard.
  </div>
  

  
  
  <script src="/static/js/jquery-1.8.3.min.js"></script>
  <script src="/static/js/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="/static/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.scrollto.min.js"></script>

   
   <!--[if lt ie 9]>
   <script src="http://www.js-css.cn/js/excanvas.js"></script>
   <script src="http://www.js-css.cn/js/respond.js"></script>
   <![endif]-->

   
   <script src="/static/js/common-scripts.js"></script>

   


   
</body>



<meta http-equiv="content-type" content="text/html;charset=utf-8">
</html>
